
body{
    background-color: rgb(182, 185, 214);
    text-align: center;
}


h1{
    color: rgb(33, 128, 236);
    font-size: 55px;
}


h3{
    font-size: 35px;
}


p{
    /*change font type*/
}


ul{
    list-style: none;
    padding-left: 300px;
}


.lists{
    text-align: center; 
}


img{
    border: 2px solid yellow; 
    height: 225;
    width: 225;
}



footer{
    font-size: 10px;
}

/*
article{
    border: 2px dotted rgb(0, 0, 0);
    background-color: darkolivegreen;
}
*/


.story{
    border: 2px dotted rgb(0, 0, 0);
    background-color: rgb(180, 238, 80);
    margin-right: 300px;
    margin-left: 300px; 
}


.disclamer{
    font-family: Courier New, Courier, monospace;
    font-size: 12px;
}